.centrarImg{ 
	  position: relative;
  	  width: 150px;
  	  height: 150px;
  	}
	.logo{ 
		 position: absolute;
  		 width: 150px;
  		 top: 0;
  		 left: 0;
  		 right: 0;
  		 bottom: 0;
  		 margin: auto;
	}
.fondoTitulo{ 
		background-color: #1f618d;
		height: auto;
		width: 100%;
		text-align: center;
		padding-right: 10px;
	}

.fondoBotonera{
		background-color: white;
		height: auto;
		width: 100%;
		display: inline-block;
		padding-bottom: 5px;
		text-align: center;
}
	.social-header{ 
		margin-left: 15px;
		height: auto;
		width: 100%;
		display: inline-block;
		text-align: left;
	}
	.social-header a i{
		color: black;
    	margin-right: 15px;
   	    font-size: 35px;
	}
	.botones{
		margin-top: 5px;
		display: block;
		height: auto;
		width: 100%;
		vertical-align: middle;
	}
	.nav{
		background-color: #f19484;
		width: 100%;
	}
	.fondoMain{
		background-color: #1f618d;
		width: 100%;
	}
	.fondoSlide{
		background-color: #1f618d;
		width: 100%;	
	}
	.titIndex{
		color:  #7da4bd;
		margin: 10px;
		text-align: center;
	}
	.textoIndex{
		color: #b497c1;
		margin: 10px;
		text-align: left;
	}
	.pie{
		background-color:#f19484;
		width: 100%;
	}