/** {
 padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article img {
	width: 1000px;
	height: auto;
}*/

.abrirVentanaForm {
    width: 200px;
	padding: 0 20px;
	margin-bottom: 5px;
   /* margin: 10px;*/
	height: 30px;
	line-height: 30px;
	border: none;
	color: #fff;
	background: #7da4bd;
	font-family: 'roboto', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.abrirVentanaForm:hover {
	background: rgba(2,85,141, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(180,151,193,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background-color: #7d3c98;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
	border-radius: 15px;
	font-family: 'Roboto', sans-serif;
	padding: 15px;
	text-align: center;
	width: 600px;
	transition: .3s ease all;
	transform: scale(0.7);
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #b497c1;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

/*.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}*/

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	/*width: 25%;*/
	margin-bottom: 5px;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
	border: 1px solid #f19484;
	background-color: #e8b6ae;
	color: black;
}


/*TAMAÑOS CAMPOS DEL FORMULARIO*/

.inputNombre{
	width: 163px;
}

.inputApellido{
	width: 163px;
}

.inputFechaNac{
	width: 188px;
}
.inputDire{
	width: 270px;
}
.inputNro{
	width: 70px;
}
.inputPiso{
	width: 70px;
}
.inputDepto{
	width: 70px;
}
.inputCP{
	width: 70px;
}
.inputCel{
	width: 200px;
}
.inputEmail{
	width: 300px;
}
.inputRel{
	width: 200px;
}
.inputNombreUs .inputContras .inputContras2{
	width: 200px;
}

::placeholder{
	color: black;
}
/*------------------------------------*/
.subtitulos{
	text-align: left;
	font-size: 25px bold;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 25px;
	padding-left: 5px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	background-color: #b497c1;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
	border-radius: 15px;
}
.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: black;
	background: #b497c1;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(70,4,98, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
