.abrirRecuperarContras {
	width: 200px;
    padding: 0 20px;
	margin-bottom: 5px;
    /*margin: 10px;*/
	height: 30px;
	line-height: 30px;
	border: none;
	color: #fff;
	background: #7da4bd;
	border-radius: 3px;
	font-family: 'roboto', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.abrirRecuperarContras:hover {
	background: rgba(2,85,141, .9);
}