*{
	margin: 0;
	border:0;
	padding: 0;
}
body{
	background-color: #7d3c98;
    margin-top: auto; 
}
.contenedor{
	width: 1050px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

.cabezal{
	width: 1050px;
	height: 200px;
	padding-top: 5px;
	background-color: #1f618d;
	text-align: right;
}
.contenedorFormIngr{
    width: 250px;
    height: 180px;
    /*padding: 10px;*/
    margin-top: 15px;
    margin-right: 15px;
   /* background-color: aquamarine;*/
    opacity: 0.5;
    display: inline-block;
    text-align: center;
    
}
.contenedorFormIngr form input{
    width: 150px;
    margin-top: 5px;
    margin-right: 5px;
    height: 30px;
    color: black;
    background-color: #7da4bd;
}

.ingresar {
    width: 200px;
	padding: 0 20px;
	margin-bottom: 5px;
    margin-top: 5px;
	height: 30px;
	line-height: 30px;
	border: none;
	color: #fff;
	background: #7da4bd;
	font-family: 'roboto', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}
.ingresar:hover {
	background: rgba(2,85,141, .9);
}
::placeholder{
	
	font-family: "roboto", sansserif bold;
	font-size: 15px;
    text-align: center;
} 
/*.menu{
	width: 1050px;
	height: 50px;
	background-color: #f19484;
	margin: auto;
}*/
/*.logo{
	width: 150px;
	height: 150px;
	float: center;
    margin: 15px;
    opacity: 0.5;
}*/
.titulo{
	width: 585px;
	font-family: "roboto", serif bold;
	font-size: 60px;
	text-align: center;
	vertical-align: 60px;
	float: left;
	margin-top: 15px;
    display: inline-block;
}

.slide{
	width: 1050px;
	height: 500px;
	background-color: white;
}
.pie{
	width: 1050px;
	height: 18px;
	background-color: #1f618d;
	padding-top:2px;
	text-align: center;
	
}
footer p{
	color: white;
	font-family: "roboto" sansserif;
	font-size: 14px;
	display: inline-block;
}