*{
	padding: 0;
	margin:0;
	border:0;


}
body{
	background: #7d3c98;
	margin-left: 50px;
}
#contenedor{
	display: inline-block;
	width: 80%;
	background: #c39bd3;
	margin:30px auto;
	padding: 20px;
	border-radius: 12px;
	-moz-border-radius:12px;
	-o-border-radius:12px;
	-webkit-border-radius:12px;
}

#caja-chat{
	width: 100%;
	height: auto;
	background: white;
	padding: 5px;
	border-radius: 12px;
}
#datos-chat{
	width: 90%;
	padding: 5px;
	margin: 5px;
	border: 2px solid silver;
	font-family: 'Roboto', sans-serif;

}
.boton{
	background: #f19484;
	color: #B56F63;
	font-weight: bold;
	border: 1px solid #B56F63;
	width: 100%;
	height: 40px;
	border-radius: 25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	-webkit-border-radius:25px;
	cursor: pointer;
}

input {
	width: 100%;
	height: 40px;
	border:1px solid silver;
	border-radius: 5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top: 10px;
	margin-bottom: 5px;
	background: #f19484;
	color: #B56F63;
}

::placeholder{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

textarea{
	width: 100%;
	height: 40px;
	border:1px solid silver;
	border-radius: 5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top: 10px;
	margin-bottom: 5px;
	background: #f19484;
	color: #B56F63;
}
