@media screen and (max-width:800px){
    .contenedor{
        display:inline-block;
        max-width: 100%;
        min-width: 150px;
    }
    .cabezal{
        display: inline-block;
        max-width: 100%;
        min-width: 150px;
        
        
    }
    .contenedorFormIngr{
        max-width: 0px;
        min-width: 50px;
        
    }
    header{
        max-width:75%;
        min-width: 150px;
    }
    header .logo{
        margin:20px;
        
    }
    header .titulo{
    display: inline-block;
        max-width: 150px;
        min-width: 150px;
        font-size: 50px;
        
    }
    .menu{
    display:inline-block;
        max-width: 100%;
        min-width: inherit;
    }
    .pie{
    max-width: 100%;

        
    }
}
@media screen and (max-width:600px){
    .contenedor{
        flex-direction: column;
        display:inline-block;
        max-width: 100%;
    }
    .pie{
        max-width:100%;
                display:inline-block;

}